export const CONFIG = {
  DEFAULT_CACHE_TTL :60*60, //1 hour
  DEFAULT_HTTPS_PORT: 8443,
  DEFAULT_HTTP_PORT: 8080,
  FIXER_API_KEY: '',
  INVALIDASSET_CACHE_TTL: 60*60*12, //12 hours
  LOG: {
    FILENAME: 'error.log',
    // can be: debug, verbose, info, warn, error
    LEVEL: 'error',
  },
  SSL: {
    /**
     * enable/disable SSL support. 
     */
    CA_PATH: '/path/to/chain.pem',
    CERT_PATH: '/path/to/fullchain.pem',
    ENABLE: true, 
    PRIVATEKEY_PATH: '/path/to/privkey.pem',
  },
};
